* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

html,
body {
    height: 100%;
    touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/markus-spiske-gcgves5H_Ac-unsplash.jpg);
    background-size: cover;
    font-size: 16px;
    color: #666666;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba 0, 0, 0, 0.2;
    border-radius: var(--border-radius);
    background-color: white;
}


.formHidden {
    display: none;
}